body {
  background-color: #f8f9fa;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', Arial, sans-serif;
}

.edge-screen-space {
  padding: 20px;
}

.bg-pink {
  background-color: #cc4c90;
}


