body {
  background-color: #f8f9fa;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', Arial, sans-serif;
}

#bridge {
  width: 100vw;
  height: auto;
  max-width: 100%;
}

.edge-screen-space {
  padding: 10px 20px;
}

.bg-green-fabric, .bg-pink-fabric, .bg-yellow-fabric {
  background-size: cover;
  padding: 20px;
}

.green-stitch, .pink-stitch, .yellow-stitch {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.bg-pink-fabric {
  background-image: linear-gradient(rgba(204, 76, 120, 0.6), rgba(204, 76, 120, 0.6)), url('texture/fabric-texture1.avif');
  border: 3px solid rgb(133, 29, 84);
}

.pink-stitch {
  border: 3px dashed rgb(133, 29, 84);
}

.bg-green-fabric {
  min-height: 400px;
  background-image: linear-gradient(rgba(56, 150, 98, 0.5), rgba(56, 150, 98, 0.5)), url('texture/fabric-texture2.avif');
  border: 3px solid rgb(25, 79, 49);
}

.green-stitch {
  border: 3px dashed rgb(25, 79, 49);
}

.bg-yellow-fabric {
  min-height: 400px;
  background-image: linear-gradient(rgba(255, 220, 79, 0.7), rgba(255, 220, 79, 0.7)), url('texture/fabric-texture1.avif');
  border: 3px solid rgb(180, 150, 31);
}

.yellow-stitch {
  border: 3px dashed rgb(180, 150, 31);
}
