body {
  background-color: #f8f9fa;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', Arial, sans-serif;
}

.edge-screen-space {
  padding: 10px 20px;
}


.bg-pink-fabric {
  background-image: linear-gradient(rgba(204, 76, 144, 0.8), rgba(204, 76, 144, 0.8)), url('texture/fabric-texture1.avif');
  background-size: cover;
}

.bg-green-fabric {
  background-image: linear-gradient(rgba(79, 183, 126, 0.8), rgba(79, 183, 126, 0.8)), url('texture/fabric-texture2.avif');
  background-size: cover;
}

.bg-yellow-fabric {
  background-image: linear-gradient(rgba(255, 220, 79, 0.8), rgba(255, 220, 79, 0.8)), url('texture/fabric-texture1.avif');
  background-size: cover;
}


